<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StartTime" value="11:39 AM "/>
    <add key="callDuration" value="2"/>
    <add key="CallType" value="1"/>
    <add key="FromMail" value="---from mail---"/>
    <add key="Password" value="---from password---"/>
    <add key="Host" value="smtp.gmail.com"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="---from mail---">
        <network host="smtp.gmail.com" userName="---from mail---" password="---from password---" enableSsl="true" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>